* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.board {
  margin: 100px auto;
  /*border-collapse: collapse; para quitar el border a tablas*/
}
.board td {
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  background-color: rgba(235, 79, 224, 0.34);
  transition: 0.5s;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}
td:hover {
  background-color: purple;
}
button {
  position: absolute;
  text-align: center;
  left: 70%;
  top: 55%;
  background-color: rgba(234, 238, 23, 0.83);
 border: none;
 border-radius: 5px;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 12px;
}
